@import "./container/container.css";
@import "./flex/flex.css";
@import "./stack/stack.css";

/* =========================================
   GRID HELPERS
   ========================================= */

.ui-grid {
  display: grid;
  gap: var(--space-4);
}

.ui-grid--auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.ui-grid--auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}


